# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Qt-es
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
/build-*/

# Ignore changes to default database file, unless forced
# (Use force with caution, Luke, as *.db is binary, and so each version will be kept in the repo as a whole.)
/ATM/bank.db
